<section class="container centrado">
<div class="input-group">
  <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon" style="padding-left:10em; margin-left: 20em;" >
    <option selected>Elije pe mascota...</option>
    <option value="1">Claro</option>
    <option value="2">Son cositas</option>
    <option value="3">Acá pe</option>
  </select>
  <button class="btn btn-outline-secondary" type="button">Dale acá pe</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Importe</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>son cositas</td>
     
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>claroo</td>
      <td>@twitter</td>
      <td>aca pe</td>
      <td>fuerza bro</td>
      
    </tr>
  </tbody>
  
</table>
</section>